:root {
	--container-width: 1140px;
	--container-padding: 15px;

	--font-main: "Raleway", sans-serif;
	--font-accent: "Playfair Display", serif;
	--font-secondary: "Roboto", sans-serif;

	--page-bg: #242b33;
	--text-color: #fff;
	--text-muted: #e7e7e7;
	--accent: #d4c17f;
	--placeholder: #bebebe;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}
